---
import Layout from "@/layouts/Layout.astro"
import { Image } from "@astrojs/image/components"

import Hero from "@/components/Hero.astro"
import Section from "@/components/Section.astro"
import Marquee from "@/components/Marquee.astro"

import partner1 from "@/images/partners/1.png"
import partner2 from "@/images/partners/2.png"
import partner3 from "@/images/partners/3.png"
import partner4 from "@/images/partners/4.png"
import partner5 from "@/images/partners/5.png"
import partner6 from "@/images/partners/6.png"
import partner7 from "@/images/partners/7.png"
import partner8 from "@/images/partners/8.png"

const partners = [
  partner1,
  partner2,
  partner3,
  partner4,
  partner5,
  partner6,
  partner7,
  partner8,
]

import { courses } from "@/courses.data"

import project1 from "@/images/projects/1.png"
import project2 from "@/images/projects/2.png"

const projects = [
  {
    name: "NeoExpertise",
    description:
      "E-commerce completo desenvolvido por um grupo de alunos do curso de Informática para a Internet",
    imageURL: project1,
  },
  {
    name: "Filmagem de Longa Metragem",
    description:
      "Alunos do curso de Multímida participam das filmagens de um longa metragem da Twin Filmes.",
    imageURL: project2,
  },
]
---

<Layout
  title="Top 10 Melhor Escola Para se Estudar do Estado de São Paulo | ETEC JRM"
>
  <Hero title="Através Do Conhecimento, Conquista-Se O Mundo" />

  <Section background="bg-red-50 border-b border-primary-dark">
    <header class="flex flex-col gap-2">
      <h2 class="text-primary-dark">📚 Cursos Técnicos - ETIM</h2>
      <p class="text-primary-darkest">
        Confira todos os cursos integrados ao ensino médio da Etec Jornalista
        Roberto Marinho
      </p>
    </header>

    <div class="swiper mySwiper flex w-full flex-col gap-6">
      <div class="swiper-wrapper">
        {
          courses
            .filter((course) => course.type === "etim")
            .map((course) => (
              <li class="swiper-slide flex !h-auto flex-col items-start justify-between gap-3 rounded !bg-red-100 p-6">
                <h3 class="text-primary-dark">{course.name}</h3>

                <p class="text-left text-slate-600">{course.description}</p>

                <a
                  class="font-bold text-slate-700 transition-colors hover:text-slate-900"
                  href={`/cursos`}
                >
                  Ver Mais
                </a>
              </li>
            ))
        }
      </div>

      <div class="swiper-pagination !static"></div>
    </div>
  </Section>

  <Section background="bg-slate-50">
    <header class="flex flex-col gap-2">
      <h2 class="text-center text-primary-dark lg:text-left">
        📚 Cursos Técnicos
      </h2>
      <p class="text-center text-primary-darkest">
        Confira todos os cursos técnicos vigentes aqui na ETEC JRM.
      </p>
    </header>

    <div class="swiper courses-swiper flex w-full flex-col gap-6">
      <div class="swiper-wrapper">
        {
          courses
            .filter((course) => course.type === "standalone")
            .map((course) => (
              <li class="swiper-slide flex !h-auto flex-col items-start justify-between gap-3 rounded bg-slate-200 p-6">
                <h3 class="text-accent-dark">{course.name}</h3>

                <p class="text-left text-slate-600">{course.description}</p>

                <a
                  class="font-bold text-slate-700 transition-colors hover:text-slate-900"
                  href={`/cursos`}
                >
                  Ver Mais
                </a>
              </li>
            ))
        }
      </div>

      <div class="swiper-pagination2 !static flex items-center justify-center">
      </div>
    </div>
  </Section>

  <section class="flex w-full flex-col gap-8 bg-orange-50 p-6 lg:py-12">
    <div class="m-auto flex max-w-5xl flex-col items-start gap-8 lg:gap-16">
      <header class="flex flex-col gap-2">
        <h2 class="text-accent-dark">Sobre A ETEC</h2>
        <p class="text-accent-darkest">
          Fundada em 2011, a Escola Técnica Estadual Jornalista Roberto Marinho
          já formou mais de 500 alunos em diversas áreas.
        </p>
        <a class="font-bold text-accent-darkest" href="/sobre">Ver mais</a>
      </header>
    </div>

    <Marquee data={partners} />
  </section>

  <Section background="bg-zin-50">
    <header class="flex flex-col gap-2">
      <h2 class="text-primary-darkest">🎨 O Melhor da ETEC</h2>
      <p>
        Veja os melhores projetos de alunos que passaram aqui pela ETEC JRM.
      </p>
    </header>

    <ul class="flex w-full flex-col gap-8">
      {
        projects.map((project) => (
          <li class="flex w-full flex-col gap-6">
            <div class="flex w-full flex-col gap-1">
              <h3>{project.name}</h3>
              <p class="text-slate-600">{project.description}</p>
            </div>

            <Image
              src={project.imageURL}
              alt="Imagem de projeto de aluno"
              width={327}
              height={327}
              fetchpriority={"low"}
              loading={"lazy"}
              class={"h-[327px] w-full rounded object-cover"}
            />
          </li>
        ))
      }
    </ul>
  </Section>
</Layout>

<style>
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    height: auto !important;
  }

  :root {
    --swiper-pagination-bullet-size: 20px;
    --swiper-pagination-bullet-inactive-color: #646f7e;
    --swiper-theme-color: #f50047;
  }
</style>

<script defer type="module">
  import "https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"
  const desktop = window.matchMedia("(min-width: 1024px)")

  var swiper = new Swiper(".mySwiper", {
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    loop: true,
    slidesPerView: desktop.matches ? 2 : 1,
    spaceBetween: desktop.matches ? 32 : 12,
  })

  var coursesSwiper = new Swiper(".courses-swiper", {
    pagination: {
      el: ".swiper-pagination2",
      clickable: true,
    },
    loop: true,
    slidesPerView: 1,
    spaceBetween: desktop.matches ? 32 : 12,
  })

  desktop.addEventListener("change", () => {
    if (desktop.matches) {
      swiper.params.slidesPerView = 2
    } else {
      swiper.params.slidesPerView = 1
    }
  })
</script>
